.recipe{

  &__img{
    width: 190px;

  }
  &__header{
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;

  }
  &__blurb{
    margin-top: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;

  }


}