html { 
  // border: 1px purple dotted;
  height: 100%;
}

body { 
  display: flex;
  justify-content: center;
  justify-items: center;
  // border: 1px red dotted;
  background-color: white;
  // height: 100%;
}